# Yelp (csv)

# [optional] only run if **train_data_full.csv** not exists
# Merging seperated csv data into one Pandas dataframe

In [1]:
import pandas as pd
import time
import datetime

In [2]:
data_dir = 'C:\\Users\\wiekern\\Desktop\\Masterarbeit\\yelp_dataset\\'
# 0: business, 1: checkin, 2: photo, 3: review, 4: tip, 5: user
data_class = {'business': 'business', 'checkin': 'checkin', 'photo': 'photo', 'review': 'review', 'tip': 'tip', 'user': 'user'}
file_type = '.csv'

business_df = pd.read_csv(data_dir + data_class['business'] + file_type)
review_df = pd.read_csv(data_dir + data_class['review'] + file_type)
user_df = pd.read_csv(data_dir + data_class['user'] + file_type)

C:\Users\wiekern\Anaconda3\envs\ma\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (1,5,24,49,67,90,92,95,102,105,107) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\wiekern\Anaconda3\envs\ma\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
def get_business_category(business_id):
    return business_df[business_df['business_id'] == business_id]['categories']

def get_username(user_id):
    return user_df[user_df['user_id'] == user_id]['name']

def date_to_timestamp(date_str):
    return time.mktime(datetime.datetime.strptime(date_str, '%Y-%m-%d %H:%M:%S').timetuple())

In [4]:
# refining interested attributes
reivew_df_refine = review_df[['review_id', 'user_id', 'business_id', 'stars', 'date', 'useful', 'text']]
business_df_refine = business_df[['business_id', 'name']]
business_df_refine.columns = ['business_id', 'business_name']
user_df_refine =  user_df[['user_id', 'name']]
user_df_refine.columns =  ['user_id', 'user_name']

In [5]:
merged_df = pd.merge(reivew_df_refine, business_df_refine, on='business_id', how='outer')
merged_df = pd.merge(merged_df, user_df_refine, on='user_id', how='outer')

In [6]:
merged_df = merged_df.dropna(axis=0) # drop rows where NAN exists

In [7]:
merged_df['timestamp'] = merged_df['date'].apply(lambda x:date_to_timestamp(x))

In [8]:
merged_df.head()

,review_id,user_id,business_id,stars,date,useful,text,business_name,user_name,timestamp
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-05-07 04:34:36,6.0,Total bill for this horrible service? Over $8G...,MountainView Hospital,Stefan,1.367894e+09
1,oy8f3bxyl7zZJFDQ5edtIA,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-03-27 14:17:13,3.0,6 plus hours in the ER on a Tuesday Morning gr...,MountainView Hospital,Stefan,1.364390e+09
2,nsr-0uYDWv22qFdARRa2CQ,hG7b0MtEbXx5QzbzE6C_VA,lsAe6PMRTVGtaBqw3zKlMQ,2.0,2013-04-24 09:04:10,0.0,I'll give it a 2 because it is still a WM with...,Walmart Supercenter,Stefan,1.366787e+09
3,D4_FpPSPRNtAj1964vXFPQ,hG7b0MtEbXx5QzbzE6C_VA,xpEq8x5caXFm2lmjQ51rVQ,2.0,2014-02-27 04:20:15,2.0,Unable to get their over the air signal. So wh...,KLAS-TV,Stefan,1.393471e+09
4,HeTRGukwBk1TPoX0dr4xZA,hG7b0MtEbXx5QzbzE6C_VA,Y07qIurPKiUJDnTZWxZN2A,5.0,2012-08-28 23:34:11,0.0,Not a huge selection but what they do have is ...,Bistro Buffet,Stefan,1.346190e+09

# Reading complete data from csv file

In [10]:
import os.path
import pandas as pd
if not os.path.exists('train_data_full.csv'):
    merged_df.to_csv('train_data_full.csv', index=False)

if merged_df is None:
    merged_df = pd.read_csv('train_data_full.csv')
merged_df.head()

,review_id,user_id,business_id,stars,date,useful,text,business_name,user_name,timestamp
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-05-07 04:34:36,6.0,Total bill for this horrible service? Over $8G...,MountainView Hospital,Stefan,1.367894e+09
1,oy8f3bxyl7zZJFDQ5edtIA,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-03-27 14:17:13,3.0,6 plus hours in the ER on a Tuesday Morning gr...,MountainView Hospital,Stefan,1.364390e+09
2,nsr-0uYDWv22qFdARRa2CQ,hG7b0MtEbXx5QzbzE6C_VA,lsAe6PMRTVGtaBqw3zKlMQ,2.0,2013-04-24 09:04:10,0.0,I'll give it a 2 because it is still a WM with...,Walmart Supercenter,Stefan,1.366787e+09
3,D4_FpPSPRNtAj1964vXFPQ,hG7b0MtEbXx5QzbzE6C_VA,xpEq8x5caXFm2lmjQ51rVQ,2.0,2014-02-27 04:20:15,2.0,Unable to get their over the air signal. So wh...,KLAS-TV,Stefan,1.393471e+09
4,HeTRGukwBk1TPoX0dr4xZA,hG7b0MtEbXx5QzbzE6C_VA,Y07qIurPKiUJDnTZWxZN2A,5.0,2012-08-28 23:34:11,0.0,Not a huge selection but what they do have is ...,Bistro Buffet,Stefan,1.346190e+09

In [11]:
import gender_guesser.detector as gender

d = gender.Detector(case_sensitive=False)

import string
translator = str.maketrans('', '', string.punctuation)

def get_gender(name):
    try:
        n = name.lower()
        if ('mom' in n) or ('girl' in n) or ('angel' in n) or ('mum' in n) or ('mother' in n) or ('woman' in n):
            return 'female'
        if ('boy' in n) or ('dude' in n):
            return 'male'
        temp = name.translate(translator).split()
    except:
        return 'unknown'
    
    if len(temp) > 0:
        first_name = temp[0]
        first_name = ''.join([i for i in first_name if not i.isdigit()])
        gender = d.get_gender(first_name,'usa')
        return gender
    else:
        return 'unknown'

In [12]:
merged_df['gender'] = merged_df['user_name'].apply(lambda x:get_gender(x))
merged_df.head()

,review_id,user_id,business_id,stars,date,useful,text,business_name,user_name,timestamp,gender
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-05-07 04:34:36,6.0,Total bill for this horrible service? Over $8G...,MountainView Hospital,Stefan,1.367894e+09,andy
1,oy8f3bxyl7zZJFDQ5edtIA,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-03-27 14:17:13,3.0,6 plus hours in the ER on a Tuesday Morning gr...,MountainView Hospital,Stefan,1.364390e+09,andy
2,nsr-0uYDWv22qFdARRa2CQ,hG7b0MtEbXx5QzbzE6C_VA,lsAe6PMRTVGtaBqw3zKlMQ,2.0,2013-04-24 09:04:10,0.0,I'll give it a 2 because it is still a WM with...,Walmart Supercenter,Stefan,1.366787e+09,andy
3,D4_FpPSPRNtAj1964vXFPQ,hG7b0MtEbXx5QzbzE6C_VA,xpEq8x5caXFm2lmjQ51rVQ,2.0,2014-02-27 04:20:15,2.0,Unable to get their over the air signal. So wh...,KLAS-TV,Stefan,1.393471e+09,andy
4,HeTRGukwBk1TPoX0dr4xZA,hG7b0MtEbXx5QzbzE6C_VA,Y07qIurPKiUJDnTZWxZN2A,5.0,2012-08-28 23:34:11,0.0,Not a huge selection but what they do have is ...,Bistro Buffet,Stefan,1.346190e+09,andy

In [13]:
disclosed_flags = merged_df['gender'].isin(['female', 'male'])
undisclosed_flags = ~disclosed_flags

In [14]:
disclosed_gender_df = merged_df[disclosed_flags]
disclosed_gender_df.head()

,review_id,user_id,business_id,stars,date,useful,text,business_name,user_name,timestamp,gender
20,Pm6qydbW58BB0zdWCPlBmg,Skzdl0sWhW88525a1vr59g,ujmEBvifdJM6h6RLv4wQIg,1.0,2018-05-08 19:27:59,3.0,"Went in for a broken finger, was asked if I wa...",MountainView Hospital,Renee,1.525800e+09,female
21,US_dupN8RTXGNdmDeksQIg,Skzdl0sWhW88525a1vr59g,I5TnTKHzJuLA0YLZPGCNwQ,5.0,2016-09-03 02:52:45,0.0,Absolutely love this place! Great food for the...,Teriyaki Boy Healthy Grill,Renee,1.472864e+09,female
22,b5mIIyHZKwYuaFQPnO1BCw,Skzdl0sWhW88525a1vr59g,3dC3opMY67zrquz_yYc-tw,1.0,2017-04-25 21:38:51,0.0,"Frequent this place a lot, well today there wa...",Pepe's Tacos,Renee,1.493149e+09,female
23,afOVxx5-s_ZQyhkhk2drNA,Skzdl0sWhW88525a1vr59g,_GqNHoWtBOksNcfVjnl0YQ,5.0,2017-04-11 20:54:24,0.0,"Phil Brown is a very knowledgeable person, he ...",Brown Law Offices,Renee,1.491937e+09,female
24,X3qb2HL3o-FMTJywO2THSA,Skzdl0sWhW88525a1vr59g,WSGHEQdcdbBWXDpna99EiQ,5.0,2016-12-04 03:10:34,0.0,I absolutely love this place. It's delicious a...,Teriyaki Madness,Renee,1.480817e+09,female

In [16]:
undisclosed_gender_df = merged_df[undisclosed_flags]
undisclosed_gender_df.head()

,review_id,user_id,business_id,stars,date,useful,text,business_name,user_name,timestamp,gender
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-05-07 04:34:36,6.0,Total bill for this horrible service? Over $8G...,MountainView Hospital,Stefan,1.367894e+09,andy
1,oy8f3bxyl7zZJFDQ5edtIA,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-03-27 14:17:13,3.0,6 plus hours in the ER on a Tuesday Morning gr...,MountainView Hospital,Stefan,1.364390e+09,andy
2,nsr-0uYDWv22qFdARRa2CQ,hG7b0MtEbXx5QzbzE6C_VA,lsAe6PMRTVGtaBqw3zKlMQ,2.0,2013-04-24 09:04:10,0.0,I'll give it a 2 because it is still a WM with...,Walmart Supercenter,Stefan,1.366787e+09,andy
3,D4_FpPSPRNtAj1964vXFPQ,hG7b0MtEbXx5QzbzE6C_VA,xpEq8x5caXFm2lmjQ51rVQ,2.0,2014-02-27 04:20:15,2.0,Unable to get their over the air signal. So wh...,KLAS-TV,Stefan,1.393471e+09,andy
4,HeTRGukwBk1TPoX0dr4xZA,hG7b0MtEbXx5QzbzE6C_VA,Y07qIurPKiUJDnTZWxZN2A,5.0,2012-08-28 23:34:11,0.0,Not a huge selection but what they do have is ...,Bistro Buffet,Stefan,1.346190e+09,andy

In [17]:
import os.path
if not os.path.exists('disclosed_dataset.csv'):
    print('saving disclosed dataset to csv')
    disclosed_gender_df.to_csv('disclosed_dataset.csv', index=False)

if not os.path.exists('undisclosed_dataset.csv'):
    print('saving undisclosed dataset to csv')
    undisclosed_gender_df.to_csv('undisclosed_dataset.csv', index=False)

saving undisclosed dataset to csv

In [18]:
mapping = {'female' : 1, 'male' : 0}
disclosed_dataset_df = disclosed_gender_df[['user_name', 'text', 'gender']]
disclosed_dataset_df.replace({'gender': mapping}, inplace=True)
disclosed_dataset_df.head()

C:\Users\wiekern\Anaconda3\envs\ma\lib\site-packages\pandas\core\generic.py:6702: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regex=regex,

   user_name                                               text  gender
20     Renee  Went in for a broken finger, was asked if I wa...       1
21     Renee  Absolutely love this place! Great food for the...       1
22     Renee  Frequent this place a lot, well today there wa...       1
23     Renee  Phil Brown is a very knowledgeable person, he ...       1
24     Renee  I absolutely love this place. It's delicious a...       1

In [19]:
from sklearn.model_selection import train_test_split

# dataset_df = pd.read_csv('train_dataset.csv')
if 'disclosed_dataset_df' in locals():
    # 80/20 train/test
    train_df, test_df = train_test_split(disclosed_dataset_df, test_size=0.2)
    # 80/20 train/validation
    train_df, validation_df = train_test_split(train_df, test_size=0.2)

In [20]:
# extracting related attributes for training, validation and test
train_gender_text_df = train_df[['gender', 'text']]
validation_gender_text_df = validation_df[['gender', 'text']]
test_name_text_gender_df = test_df[['user_name', 'text', 'gender']]

In [21]:
# v2_test_df = pd.read_csv('v2_test_data.csv', engine='python',  encoding='utf-8', error_bad_lines=False, header=None)
train_gender_text_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)
train_gender_text_df.to_csv('training_gender_text.csv', index=False, header=False)

C:\Users\wiekern\Anaconda3\envs\ma\lib\site-packages\pandas\core\frame.py:4263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [22]:
validation_gender_text_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)
validation_gender_text_df.to_csv('validation_gender_text.csv', index=False, header=False)

In [23]:
test_name_text_gender_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)
test_name_text_gender_df.to_csv('test_name_text_gender.csv', index=False, header=False)

In [24]:
import pandas as pd
undisclosed_csv_df = pd.read_csv('undisclosed_dataset.csv')
undisclosed_csv_df.head()

,review_id,user_id,business_id,stars,date,useful,text,business_name,user_name,timestamp,gender
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-05-07 04:34:36,6.0,Total bill for this horrible service? Over $8G...,MountainView Hospital,Stefan,1.367894e+09,andy
1,oy8f3bxyl7zZJFDQ5edtIA,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,2013-03-27 14:17:13,3.0,6 plus hours in the ER on a Tuesday Morning gr...,MountainView Hospital,Stefan,1.364390e+09,andy
2,nsr-0uYDWv22qFdARRa2CQ,hG7b0MtEbXx5QzbzE6C_VA,lsAe6PMRTVGtaBqw3zKlMQ,2.0,2013-04-24 09:04:10,0.0,I'll give it a 2 because it is still a WM with...,Walmart Supercenter,Stefan,1.366787e+09,andy
3,D4_FpPSPRNtAj1964vXFPQ,hG7b0MtEbXx5QzbzE6C_VA,xpEq8x5caXFm2lmjQ51rVQ,2.0,2014-02-27 04:20:15,2.0,Unable to get their over the air signal. So wh...,KLAS-TV,Stefan,1.393471e+09,andy
4,HeTRGukwBk1TPoX0dr4xZA,hG7b0MtEbXx5QzbzE6C_VA,Y07qIurPKiUJDnTZWxZN2A,5.0,2012-08-28 23:34:11,0.0,Not a huge selection but what they do have is ...,Bistro Buffet,Stefan,1.346190e+09,andy

In [25]:
undisclosed_dataset_df = undisclosed_csv_df[['user_id', 'text', 'gender']]
undisclosed_dataset_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)
undisclosed_dataset_df.to_csv('undisclosed_id_text_gender.csv', index=False, header=False)

In [9]:
# Legacy
def remove_(x):
    x = str(x).replace('\n',' ')
    return x

v1_test_df['Review'] = v1_test_df[1].apply(lambda x:remove_(x))

def check(x):
    if '\n' in x:
        return True
    return False

v1_test_df['check'] = v1_test_df['Review'].apply(lambda x:check(x))